.text-with-icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

.text-with-icon .icon {
    margin-top:  3px;
}
  

.text-with-icon:hover {
    color: var(--secondary-color);
}